<%= @posts.each do |post| %>
  <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
  <%= post.caption %>
<% end %>

<ul>
  <li><%= link_to "New Post", new_post_path %></li>
  <li><%= link_to "Login", '#' %></li>
  <li><%= link_to "Register", '#' %></li>
</ul>
